body{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    margin: 0 0 0 0;
}

header{
    width: 100%;
    height: 10%;
    background-color: pink;
}

.header-logo{
    width:20%;
    height: 100%;
}
.header-logo>img{
    width: 100%;
    height: 100%;
}

.logo{
    width: 100%;
    height: 100%;
}

.main-page{ 
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.carousel{
    width: 100%;
    height: 50%;
}

.calendars-container{
    width: 100%;
    height: 20%;
}

.card-container{
    width: 100%;
    height: 100%;
    background-color: lightgreen;
    margin: 0 0 0 0;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

.card{
    width: 30%;
    height: 100%;
    background-color: lightskyblue;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.card-button{
    background-color: palegreen;
    color: white;
    border: none;
    border-radius: 5px;
}

.card-img-container{
    width: 100%;
    height: 30%;

}
.card-image{
    width: 100%;
    height: 100%;
}