.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{
  width: 100%;
  height: 20%;
  background-color: pink;
}
.header-logo{
  width: 20%;
  height: 100%;
  background-color: lightcyan;
}

.header-logo > img{
  width:100%;
  height: 100%;
  background-color: lightsalmon;
}

.carousel-containter{
  width: 100%;
  height: 50%;
  background-color: chocolate;
}

.date-list-containter{
  width: 100%;
  height: 20%;
  display: flex;
  flex-flow: row;
  align-content: center;
  justify-content: space-around;
  background-color: lime;
}

.info-card-holder{

}


.info-card{
  
}